body {
  margin: 0;
  background: #FFF;
}

#videobox {
  position: absolute;
  top: 0px; left: 0px;
  transform-origin: left top;
  transform: scale(.1);
}

#player {
  width: 1%;
  height: 1%;
}
.button {
  text-align: center;
  width: 100;
  height: 100;
}
#capture{
padding: 10px 30px;
font-weight: bold;
font-size: 1.4em;
background-color: #248;
color: #fff;
border-style: none;
}
#snapshotbutton{
padding: 10px 30px;
font-weight: bold;
font-size: 1.4em;
background-color: #248;
color: #fff;
border-style: none;
}
#video {
  width: 0%;
  height: 0%;
/*  transform: rotateZ(180deg); /* なぜか天地反転するので天地反転し返す */
}
.canvas {
  display: block;
  text-align: center;
  width: 300; 
  height: 100;
}
